@model StudentTracking.Shared.ViewModels.StatisticViewModel

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateLabel">Статистика</h5>
        </div>
        <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="FacultyCountId">Факультеты:</span>
                    <input type="text" name="FacultyCount" class="form-control" aria-label="FacultyCount" aria-describedby="FacultyCountId" value="@Model.FacultyCount" disabled>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="CompanyCountId">Компании:</span>
                    <input type="text" name="CompanyCount" class="form-control" aria-label="CompanyCount" aria-describedby="CompanyCountId" value="@Model.CompanyCount" disabled>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="LetterCountId">Письма:</span>
                    <input type="text" name="LetterCount" class="form-control" aria-label="LetterCount" aria-describedby="LetterCountId" value="@Model.LetterCount" disabled>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="ContractCountId">Договоры:</span>
                    <input type="text" name="ContractCount" class="form-control" aria-label="ContractCount" aria-describedby="ContractCountId" value="@Model.ContractCount" disabled>
                </div>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-primary" asp-controller="Letter" asp-action="Index">Письма</a>
            <a type="button" class="btn btn-primary" asp-controller="Contract" asp-action="Index">Договоры</a>
            <a type="button" class="btn btn-primary"  href="@Url.Action("DownloadExcelFile", "Home")"><i class="fas fa-download"></i> Скачать Excel</a>
        </div>
    </div>
</div>
