@model StudentTracking.Shared.ViewModels.NewLetterViewModel

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateLabel">Добавить</h5>
        </div>
        <div class="modal-body">
            <form id="update-form" class="form-horizontal" asp-controller="Letter" asp-action="Create" method="post" onsubmit="return confirm('Вы уверены, что хотите добавить письмо?');">
                <p>Выберите факультет:</p>
                <div class="row">
                    <div class="col-4">
                        <select name="FacultyId" id="facultySelect" class="form-control" required>
                            @foreach (var faculty in Model.Faculties)
                            {
                                <option value="@faculty.Id">@faculty.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" id="facultySearch" class="form-control" placeholder="Фильтрация по названию факультета">
                    </div>
                </div>
                
                <p>Выберите компанию:</p>
                <div class="row">
                    <div class="col-4">
                        <select name="CompanyId" id="companySelect" class="form-control" required>
                            @foreach (var company in Model.Companies)
                            {
                            <option value="@company.Id">@company.ShortName</option>
                            }
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" id="companySearch" class="form-control" placeholder="Фильтрация по названию компании">
                    </div>
                </div>
                <br/>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="numberId">Номер:</span>
                    <input type="text" name="Number" class="form-control" aria-label="Number" aria-describedby="numberId" value="">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="positionId">Должность:</span>
                    <input type="text"  class="form-control" aria-label="Position" aria-describedby="positionId" name="Position" value="">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="AccommodationProvisionId">Предоставление жилья:</span>
                    <input type="text"  class="form-control" aria-label="AccommodationProvision" aria-describedby="AccommodationProvisionId" name="AccommodationProvision" value="">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="NoteId">Примечание:</span>
                    <input type="text"  class="form-control" aria-label="Note" aria-describedby="NoteId" name="Note" value="">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="BaseId">База:</span>
                    <input type="text"  class="form-control" aria-label="Base" aria-describedby="BaseId" name="Base" value="">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="DateId">Дата:</span>
                    <input type="text"  placeholder="дд.мм.гггг" class="form-control" aria-label="Date" aria-describedby="DateId" name="Date" value="" required>
                </div>

                <br/>
                <h4>Студенты:</h4>
                <div id="studentsContainer" class="row m-3">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addField('studentsContainer', 'Students', 'Имя студента')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastField('studentsContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-5 text-start">
                        <h4>Отсталый р-он:</h4>
                    </div>
                    <div class="col-md-4 text-end">
                        <input type="text" id="remoteAreasSearch" class="form-control" placeholder="Фильтрация">
                    </div>
                </div>
                <div id="remoteAreasContainer" class="row m-3">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addSelectFieldRemoteAreas('remoteAreasContainer', 'RemoteAreas')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastSelectField('remoteAreasContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>

                <br/>
                <div class="row">
                    <div class="col-md-5 text-start">
                        <h4>Специальности:</h4>
                    </div>
                    <div class="col-md-4 text-end">
                        <input type="text" id="specialtiesSearch" class="form-control" placeholder="Фильтрация">
                    </div>
                </div>
                <div id="specialtiesContainer" class="row m-3">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addSelectFieldSpecialties('specialtiesContainer', 'Specialities')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastSelectField('specialtiesContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>

                <br/>
                <h4>Количество:</h4>
                <div id="countsContainer" class="row m-3">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addField('countsContainer', 'Counts', 'Количество')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastField('countsContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <br/>
            </form>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" asp-controller="Letter" asp-action="Index">Закрыть</a>
            <button type="submit" class="btn btn-primary" form="update-form">Добавить</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#companySearch').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                $('#companySelect option').each(function () {
                    var text = $(this).text().toLowerCase();
                    var match = text.includes(searchQuery);
                    $(this).toggle(match);
                });
            });

            $('#facultySearch').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                $('#facultySelect option').each(function () {
                    var text = $(this).text().toLowerCase();
                    var match = text.includes(searchQuery);
                    $(this).toggle(match);
                });
            });

            $('#remoteAreasSearch').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                $('#remoteAreasSelect option').each(function () {
                    var text = $(this).text().toLowerCase();
                    var match = text.includes(searchQuery);
                    $(this).toggle(match);
                });
            });

            $('#specialtiesSearch').on('input', function () {
                var searchQuery = $(this).val().toLowerCase();
                $('#specialtiesSelect option').each(function () {
                    var text = $(this).text().toLowerCase();
                    var match = text.includes(searchQuery);
                    $(this).toggle(match);
                });
            });
        });

        function addField(containerId, fieldName, placeholderText) {
            var container = document.getElementById(containerId);
            var input = document.createElement("input");
            input.type = containerId === "countsContainer" ? "number" : "text";
            input.name = fieldName;
            input.placeholder = placeholderText;
            input.classList = "form-control";
            container.appendChild(input);
            container.appendChild(document.createElement("br"));
        }

        function removeLastField(containerId) {
            var container = document.getElementById(containerId);
            var inputs = container.getElementsByTagName("input");
            if (inputs.length > 0) {
                container.removeChild(inputs[inputs.length - 1]);
                container.removeChild(container.lastElementChild);
            }
        }

        function addSelectFieldRemoteAreas(containerId, fieldName) {
            var container = document.getElementById(containerId);
            var select = document.createElement("select");
            select.name = fieldName;
            select.id = "remoteAreasSelect";
            select.classList = "form-control";

            @foreach (var possibleRemoteArea in Model.PossibleRemoteAreasList)
            {
                <text>
                    var option = document.createElement("option");
                    option.text = decodeEntities('@possibleRemoteArea.Value');
                    option.value = decodeEntities('@possibleRemoteArea.Value');
                    select.appendChild(option);
                </text>
            }

            container.appendChild(select);
            container.appendChild(document.createElement("br"));
        }

        function addSelectFieldSpecialties(containerId, fieldName) {
            var container = document.getElementById(containerId);
            var select = document.createElement("select");
            select.name = fieldName;
            select.id = "specialtiesSelect";
            select.classList = "form-control";

            @foreach (var item in Model.PossibleSpecialtiesList)
            {
                <text>
                    var option = document.createElement("option");
                    option.text = decodeEntities('@item.Value');
                    option.value = decodeEntities('@item.Value');
                    select.appendChild(option);
                </text>
            }

            container.appendChild(select);
            container.appendChild(document.createElement("br"));
        }

        function removeLastSelectField(containerId) {
            var container = document.getElementById(containerId);
            var selects = container.getElementsByTagName("select");
            if (selects.length > 0) {
                container.removeChild(selects[selects.length - 1]);
                container.removeChild(container.lastElementChild);
            }
        }

        function decodeEntities(encodedString) {
            var textArea = document.createElement('textarea');
            textArea.innerHTML = encodedString;
            return textArea.value;
        }
    </script>
}
