@using Microsoft.AspNetCore.Mvc.TagHelpers
@model StudentTracking.Shared.ViewModels.UpdateLetterViewModel;

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="updateLabel">Изменить</h5>
        </div>
        <div class="modal-body">
            <form id="update-form" class="form-horizontal" asp-controller="Letter" asp-action="Update" method="post" onsubmit="return confirm('Вы уверены, что хотите сохранить изменения?');">
                <input type="hidden" name="Id" value="@Model.FullLetter.Letter.Id" />

                <p>Выберите факультет:</p>
                <div class="row">
                    <div class="col-4">
                        <select name="FacultyId" id="facultySelect" class="form-control" required>
                            @foreach (var faculty in Model.Faculties)
                            {
                            <option value="@faculty.Id">@faculty.FullName</option>
                            }
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" id="facultySearch" class="form-control" placeholder="Фильтрация по названию факультета">
                    </div>
                </div>
                <br/>

                <p>Выберите компанию:</p>
                <div class="row">
                    <div class="col-4">
                        <select name="CompanyId" id="companySelect" class="form-control" required>
                            @foreach (var company in Model.Companies)
                            {
                            <option value="@company.Id">@company.ShortName</option>
                            }
                        </select>
                    </div>
                    <div class="col-8">
                        <input type="text" id="companySearch" class="form-control" placeholder="Фильтрация по названию компании">
                    </div>
                </div>
                <br/>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="numberId">Номер:</span>
                    <input type="text" name="Number" class="form-control" aria-label="Number" aria-describedby="numberId" value="@Model.FullLetter.Letter.Number">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="positionId">Должность:</span>
                    <input type="text"  class="form-control" aria-label="Position" aria-describedby="positionId" name="Position" value="@Model.FullLetter.Letter.Position">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="AccommodationProvisionId">Предоставление жилья:</span>
                    <input type="text"  class="form-control" aria-label="AccommodationProvision" aria-describedby="AccommodationProvisionId" name="AccommodationProvision" value="@Model.FullLetter.Letter.AccommodationProvision">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="NoteId">Примечание:</span>
                    <input type="text"  class="form-control" aria-label="Note" aria-describedby="NoteId" name="Note" value="@Model.FullLetter.Letter.Note">
                </div>
                
                <div class="input-group mb-3">
                    <span class="input-group-text" id="BaseId">База:</span>
                    <input type="text"  class="form-control" aria-label="Base" aria-describedby="BaseId" name="Base" value="@Model.FullLetter.Letter.Base">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="DateId">Дата:</span>
                    <input type="text"  placeholder="дд.мм.гггг" class="form-control" aria-label="Date" aria-describedby="DateId" name="Date" value="@Model.FullLetter.Letter.Date">
                </div>

                <br/>
                <h4>Студенты:</h4>
                <div id="studentsContainer" class="row m-3">
                    @foreach (var student in Model.FullLetter.Students)
                    {
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="Students" value="@student.Name" class="form-control"/>
                        </div>
                    </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addField('studentsContainer', 'Students', 'Имя студента')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastField('studentsContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>

                <br/>
                <h4>Отсталый р-он:</h4>
                <div id="remoteAreasContainer" class="row m-3">
                    @foreach (var remoteArea in Model.FullLetter.RemoteAreas)
                    {
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="RemoteAreas" value="@remoteArea.Value" class="form-control"/>
                        </div>
                    </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addField('remoteAreasContainer', 'RemoteAreas', 'Название отсталого р-на')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastField('remoteAreasContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>

                <br/>
                <h4>Специальности:</h4>
                <div id="specialtiesContainer" class="row m-3">
                    @foreach (var specialty in Model.FullLetter.Specialties)
                    {
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="text" name="Specialities" value="@specialty.Value" class="form-control"/>
                        </div>
                    </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addField('specialtiesContainer', 'Specialities', 'Название специальности')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastField('specialtiesContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>

                <br/>
                <h4>Количество:</h4>
                <div id="countsContainer" class="row m-3">
                    @foreach (var count in Model.FullLetter.Counts)
                    {
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="number" name="Counts" value="@count.Value" class="form-control"/>
                        </div>
                    </div>
                    }
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" onclick="addField('countsContainer', 'Counts', 'Количество')" class="btn btn-primary">Добавить</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" onclick="removeLastField('countsContainer')" class="btn btn-danger">Удалить</button>
                    </div>
                </div>
                <br/>
            </form>
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-secondary" asp-controller="Letter" asp-action="Index">Закрыть</a>
            <button type="submit" class="btn btn-primary" form="update-form">Обновить</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    function addField(containerId, fieldName, placeholderText) {
        var container = document.getElementById(containerId);
        var input = document.createElement("input");
        input.type = containerId === "countsContainer" ? "number" : "text";
        input.name = fieldName;
        input.placeholder = placeholderText;
        input.classList = "form-control";
        container.appendChild(input);
        container.appendChild(document.createElement("br"));
    }

    function removeLastField(containerId) {
        var container = document.getElementById(containerId);
        var inputs = container.getElementsByTagName("input");
        if (inputs.length > 0) {
            container.removeChild(inputs[inputs.length - 1]);
            container.removeChild(container.lastElementChild);
        }
    }
</script>
}