@using StudentTracking.Domain.Enums
@model StudentTracking.Shared.ViewModels.LetterViewModel

<div class="modal fade" id="checkLetterModal" tabindex="-1" aria-labelledby="checkLetterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkLetterModalLabel">Результат проверки</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <pre>@Model.CheckDescr</pre>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-sm table-striped caption-top table-hover table-bordered align-middle">
<caption>
    <div class="row align-items-center">
        <div class="col-2 border-2">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"> Выбрать факультет: @(Model.CurrentFaculty?.Abbreviation ?? "Все")</a>
                    <ul class="dropdown-menu">
                        <li>
                            <form method="post" asp-controller="Letter" asp-action="Index">
                                <input type="hidden" name="FacultyId" value="@null" />
                                <input type="hidden" name="SortingParameter" value="@Model.SortingParameter" />
                                <input type="hidden" name="IsSortingDirectionDesc" value="@Model.IsSortingDirectionDesc" />
                                <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

                                <button type="submit" class="dropdown-item">Все</button>
                            </form>
                        </li>
                        @foreach (var item in Model.Faculties)
                        {
                            <li>
                                <form method="post" asp-controller="Letter" asp-action="Index">
                                    <input type="hidden" name="FacultyId" value="@item.Id" />
                                    <input type="hidden" name="SortingParameter" value="@Model.SortingParameter" />
                                    <input type="hidden" name="IsSortingDirectionDesc" value="@Model.IsSortingDirectionDesc" />
                                    <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

                                    <button type="submit" class="dropdown-item">@item.Abbreviation</button>
                                </form>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col">
            <form method="post" asp-controller="Letter" asp-action="Index" class="row g-3">
                <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
                <input type="hidden" name="SortingParameter" value="@Model.SortingParameter" />
                <input type="hidden" name="IsSortingDirectionDesc" value="@Model.IsSortingDirectionDesc" />
                    
                <div class="col-auto">
                    <label for="keywordSearch" class="visually-hidden">Ключевое слово:</label>
                    <input type="text" id="keywordSearch" name="KeywordSearch" class="form-control" placeholder="Введите ключевое слово" value="@Model.KeywordSearch">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i> Поиск
                    </button>
                </div>
            </form>
        </div>

        <div class="col-auto">
            <a class="btn btn-primary"  href="@Url.Action("DownloadExcelFile", "Letter")"><i class="fas fa-download"></i> Скачать Excel</a>
        </div>
    </div>
</caption>

<thead class="table-dark">
<tr>
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Number)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                № @if (Model.SortingParameter == LetterSortingParameters.Number)
                  {
                      if (Model.IsSortingDirectionDesc)
                      {
                          <span>&#9660;</span>
                      }
                      else
                      {
                          <span>&#9650;</span>
                      }
                  }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Faculty)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Факультет @if (Model.SortingParameter == LetterSortingParameters.Faculty)
                          {
                              if (Model.IsSortingDirectionDesc)
                              {
                                  <span>&#9660;</span>
                              }
                              else
                              {
                                  <span>&#9650;</span>
                              }
                          }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Specialty)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Специальность @if (Model.SortingParameter == LetterSortingParameters.Specialty)
                              {
                                  if (Model.IsSortingDirectionDesc)
                                  {
                                      <span>&#9660;</span>
                                  }
                                  else
                                  {
                                      <span>&#9650;</span>
                                  }
                              }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.CompanyName)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Организация @if (Model.SortingParameter == LetterSortingParameters.CompanyName)
                            {
                                if (Model.IsSortingDirectionDesc)
                                {
                                    <span>&#9660;</span>
                                }
                                else
                                {
                                    <span>&#9650;</span>
                                }
                            }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.CompanyAddress)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Адрес @if (Model.SortingParameter == LetterSortingParameters.CompanyAddress)
                      {
                          if (Model.IsSortingDirectionDesc)
                          {
                              <span>&#9660;</span>
                          }
                          else
                          {
                              <span>&#9650;</span>
                          }
                      }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.RemoteAreas)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Отсталый р-н @if (Model.SortingParameter == LetterSortingParameters.RemoteAreas)
                             {
                                 if (Model.IsSortingDirectionDesc)
                                 {
                                     <span>&#9660;</span>
                                 }
                                 else
                                 {
                                     <span>&#9650;</span>
                                 }
                             }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Base)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Базовая @if (Model.SortingParameter == LetterSortingParameters.Base)
                        {
                            if (Model.IsSortingDirectionDesc)
                            {
                                <span>&#9660;</span>
                            }
                            else
                            {
                                <span>&#9650;</span>
                            }
                        }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.LetterNumber)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                № письма @if (Model.SortingParameter == LetterSortingParameters.LetterNumber)
                         {
                             if (Model.IsSortingDirectionDesc)
                             {
                                 <span>&#9660;</span>
                             }
                             else
                             {
                                 <span>&#9650;</span>
                             }
                         }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Date)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Дата @if (Model.SortingParameter == LetterSortingParameters.Date)
                     {
                         if (Model.IsSortingDirectionDesc)
                         {
                             <span>&#9660;</span>
                         }
                         else
                         {
                             <span>&#9650;</span>
                         }
                     }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Counts)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Кол-во @if (Model.SortingParameter == LetterSortingParameters.Counts)
                       {
                           if (Model.IsSortingDirectionDesc)
                           {
                               <span>&#9660;</span>
                           }
                           else
                           {
                               <span>&#9650;</span>
                           }
                       }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Position)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Должность @if (Model.SortingParameter == LetterSortingParameters.Position)
                          {
                              if (Model.IsSortingDirectionDesc)
                              {
                                  <span>&#9660;</span>
                              }
                              else
                              {
                                  <span>&#9650;</span>
                              }
                          }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.AccommodationProvision)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Общежитие @if (Model.SortingParameter == LetterSortingParameters.AccommodationProvision)
                          {
                              if (Model.IsSortingDirectionDesc)
                              {
                                  <span>&#9660;</span>
                              }
                              else
                              {
                                  <span>&#9650;</span>
                              }
                          }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Students)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Именное @if (Model.SortingParameter == LetterSortingParameters.Students)
                        {
                            if (Model.IsSortingDirectionDesc)
                            {
                                <span>&#9660;</span>
                            }
                            else
                            {
                                <span>&#9650;</span>
                            }
                        }
            </button>
        </form>
    </th>
        
    <th scope="col">
        <form method="post" asp-controller="Letter" asp-action="Index">
            <input type="hidden" name="FacultyId" value="@Model.CurrentFaculty?.Id" />
            <input type="hidden" name="SortingParameter" value="@(LetterSortingParameters.Note)" />
            <input type="hidden" name="IsSortingDirectionDesc" value="@(Model.IsSortingDirectionDesc ? "false" : "true")" />
            <input type="hidden" name="KeywordSearch" value="@Model.KeywordSearch" />

            <button type="submit" class="btn btn-unstyled btn-sm text-white">
                Примичание @if (Model.SortingParameter == LetterSortingParameters.Note)
                           {
                               if (Model.IsSortingDirectionDesc)
                               {
                                   <span>&#9660;</span>
                               }
                               else
                               {
                                   <span>&#9650;</span>
                               }
                           }
            </button>
        </form>
    </th>

    <th scope="col">
        <button class="btn btn-unstyled btn-sm text-white">
            Действие
        </button>
    </th>
</tr>
</thead>
<tbody>
@foreach (var fullLetter in Model.FullLetters)
{
    <tr class="@(fullLetter.Letter.IsHighlight ? "table-primary" : "")" onclick="toggleHighlight(this, '@fullLetter.Letter.Id')">
        <th scope="row">@fullLetter.Number</th>

        <td>@fullLetter.Faculty.Abbreviation</td>
        
        <td>
            <ul class="list-group">
                @foreach (var specialty in fullLetter.Specialties)
                {
                    <li class="list-group-item">@specialty.Value</li>
                }
            </ul>
        </td>

        <td>@fullLetter.Company.ShortName</td>
        
        <td>@fullLetter.Company.Address</td>

        <td>
            <ul class="list-group">
                @foreach (var remoteArea in fullLetter.RemoteAreas)
                {
                    <li class="list-group-item">@remoteArea.Value</li>
                }
            </ul>
        </td>

        <td>@fullLetter.Letter.Base</td>
        
        <td>@fullLetter.Letter.Number</td>

        <td>@fullLetter.Letter.Date.ToString("yyyy-MM-dd")</td>

        <td>
            <ul class="list-group">
                @foreach (var count in fullLetter.Counts)
                {
                    <li class="list-group-item">@count.Value</li>
                }
            </ul>
        </td>
        
        <td>@fullLetter.Letter.Position</td>
        
        <td>@fullLetter.Letter.AccommodationProvision</td>

        <td>
            <ul class="list-group">
                @foreach (var student in fullLetter.Students)
                {
                    <li class="list-group-item">@student.Name</li>
                }
            </ul>
        </td>
        
        <td>@fullLetter.Letter.Note</td>
            
        <td>
            <form method="get" asp-controller="Letter" asp-action="Update">
                <input type="hidden" name="id" value="@fullLetter.Letter.Id" />

                <button type="submit" class="btn btn-primary w-100 h-100 mx-2 my-2">
                    <i class="fas fa-edit"></i>Изменить
                </button>
            </form>

            <form method="post" asp-controller="Letter" asp-action="Delete" onsubmit="return confirm('Вы уверены, что хотите удалить письмо?');">
                <input type="hidden" name="id" value="@fullLetter.Letter.Id" />

                <button type="submit" class="btn btn-primary w-100 h-100 mx-2 my-2">
                    <i class="fas fa-trash"></i> Удалить
                </button>
            </form>

            <form method="post" asp-controller="Letter" asp-action="CheckLetter">
                <input type="hidden" name="id" value="@fullLetter.Letter.Id" />

                <button type="submit" class="btn btn-primary w-100 h-100 mx-2 my-2">
                    <i class="fas fa-check"></i>Проверить
                </button>
            </form>

        </td>
    </tr>
}
<tr>
    <td colspan="15">
        <a type="button" class="btn btn-primary w-100 h-100" asp-controller="Letter" asp-action="Create" >
            <i class="fas fa-plus-circle fa-3x"></i>
        </a>
    </td>
</tr>
</tbody>
</table>


@section Scripts {
    <script>
        function toggleHighlight(row, letterId) {
            row.classList.toggle('table-primary');

            $.ajax({
                type: 'POST',
                url: '/Letter/ModifyIsHighlight',
                data: { id: letterId, value: row.classList.contains('table-primary') },
                success: function (data) {
                    console.log('Запрос выполнен успешно');
                },
                error: function (xhr, status, error) {
                    console.error('Произошла ошибка при выполнении запроса');
                }
            });
        }

    $(document).ready(function () {
        @if (@Model.CheckDescr != "")
        {
        <text>$('#checkLetterModal').modal('show'); </text>
        }
    })
</script>
}
